@charset "UTF-8";

html {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    letter-spacing: .4px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(53, 53, 53, 0), rgba(53, 53, 53, 0.75), rgba(53, 53, 53, 0));
}

.page-host {
    overflow-x: hidden;
    overflow-y: auto;
    background: url("../img/bg-pattern.png"), #7b4397;
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
    margin-left: 60px;
}

footer {
    bottom: 0px;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    font-size: 12px;
    font-weight: normal;
    color: yellow;
}

footer.content-footer {
    padding: 16px;
    background-color: black;
    transition: margin-left .2s;
    margin-top: 20px;
}

footer.content-footer>.copyright {
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    line-height: 18px;
}

nav-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 60px;
    background-color: #1e1e1e;
    box-shadow: 2px 0px 14px 0px rgba(0, 0, 0, 0.1);
}

.nav {
    width: 60px;
    background-color: #1e1e1e;
    box-shadow: 2px 0px 14px 0px rgba(0, 0, 0, 0.1);
}

.nav ul {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav ul li {
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    transition: background-color .2s;
}

.nav ul li.article,
.nav ul li.api,
.nav ul li.discuss,
.nav ul li.blog,
.nav ul li.help {
    padding-left: 5px;
}

.nav ul li a {
    display: inline-block;
    padding: 8px 0 20px 13px;
    width: 100%;
}

.nav ul li svg {
    fill: #c6c6c6;
    transition: fill .2s;
}

.nav ul li .label {
    position: absolute;
    bottom: 6px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #c6c6c6;
    font-size: 12px;
    transition: color .2s;
}

.nav ul li:hover svg {
    fill: white;
}

.nav ul li:hover .label {
    color: white;
}

.nav ul li.active {
    background-color: #2e2e30;
}

.nav ul li.active svg {
    fill: #EC2685;
}

.nav ul li.active .label {
    color: #EC2685;
}

nav li.active svg {
    fill: #EC2685;
}

nav svg {
    fill: #c6c6c6;
}

main {
    position: absolute;
    top: 60px;
    left: 60px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main .screen-activator {
    flex: 1 0 auto;
}

.context1 {
    margin-top: 20%;
}

.context2 {
    margin-top: 40%;
}

.context3 {
    margin-top: 60%;
}

@media only screen and (max-width: 710px) {
    footer.content-footer.with-sidebar {
        margin-left: 0;
    }
    footer.content-footer>.links {
        display: block;
    }
    footer.content-footer>.links .link-column>h4 {
        margin-top: 16px;
    }
    footer.content-footer>.copyright {
        text-align: left;
    }
}

side-bar {
    position: absolute;
    top: 60px;
    left: 60px;
    bottom: 0;
    width: 325px;
    background-color: #f4f4f4;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.12);
    transition: all .2s;
    transform: translateX(-100%);
    overflow: hidden;
}

@media only screen and (max-width: 710px) {
    side-bar {
        display: none;
    }
}

section.home-screen {
    height: 100vh;
    padding: 10px;
}

section.home-screen .card {
    background-color: #d2d2d2;
    padding: 10px;
}

section.blog,
section.help {
    height: 100vh;
}

section.blog {
    background-color: #f4f4f4;
}

section.iframe {
    height: 100vh;
}

section.guides {
    min-width: 100%;
    display: flex;
}

section.guides .side-bar-guides {
    min-width: 325px;
    max-width: 325px;
    backface-visibility: hidden;
    background-color: #f4f4f4;
    position: fixed;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.12);
    transition: all .2s;
    overflow: hidden;
    height: 100vh;
}

section.guides .side-bar-guides .nav-button {
    background: #dfdfe1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    line-height: 36px;
    font-size: 18px;
}

section.guides .side-bar-guides .nav-button .arrow {
    position: absolute;
    left: 8px;
    top: 9px;
    fill: #70509D;
}

section.guides .side-bar-guides .nav-button a {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #70509D;
}

section.guides .side-bar-guides .nav-button .personas .arrow {
    position: absolute;
    right: 16px;
    left: auto;
}

section.guides .side-bar-guides .nav-button .personas a {
    padding-left: 16px;
    text-align: left;
}

section.guides .side-bar-guides ul {
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

section.guides .side-bar-guides ul li {
    line-height: 44px;
    color: #777;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all .1s;
}

section.guides .side-bar-guides ul li:hover {
    background: rgba(255, 255, 255, 0.5);
}

section.guides .side-bar-guides ul li.active {
    background: #ffffff;
    color: #ed2b88;
}

section.guides .side-bar-guides ul li a {
    color: inherit;
    display: block;
    width: 100%;
    padding: 0 0 0 1rem;
    overflow: hidden;
    text-decoration: none;
}

section.guides .content {
    background-color: #ffffff;
    color: #646464;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.6em;
    word-wrap: break-word;
    margin-top: 60px;
    overflow-y: scroll;
    margin-left: 325px;
    margin-bottom: 50px;
}

section.guides .groups {
    background-color: #ffffff;
}

section.guides .group {
    margin: 32px 48px;
    padding: 32px;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
}

section.guides .group .group-summary {
    padding-right: 12px;
    min-width: 38%;
    max-width: 38%;
}

section.guides .group .group-summary .group-header .group-item-count {
    color: #646464;
    margin-bottom: 5px;
    font-size: 12px;
}

section.guides .group .group-summary .group-header .group-name {
    font-size: 22px;
    font-weight: bold;
    color: #353535;
}

section.guides .group .group-summary .group-description {
    margin: 24px 0;
    font-weight: lighter;
    line-height: 24px;
}

section.guides .group .group-summary .group-learn {
    color: #ed2b88;
    text-decoration: none;
}

section.guides .group .group-summary .group-learn:hover {
    text-decoration: underline;
}

section.guides .group .group-details {
    background: rgba(238, 240, 247, 0.43);
    border-radius: 6px;
    width: 100%;
    padding: 24px 0 32px 32px;
}

section.guides .group .group-details .group-items {
    list-style: disc;
    color: #6d50a2;
    margin-left: 21px;
}

section.guides .group .group-details .group-items li {
    margin-top: 8px;
    margin-bottom: 8px;
}

section.guides .group .group-details .group-items li a {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

section.guides .group .group-details .group-items li a:hover {
    text-decoration: underline;
}

section.guides .group-item-count {
    color: #646464;
    margin-bottom: 5px;
    font-size: 12px;
}

section.guides .carousel {
    background: linear-gradient(135deg, #6d50a2 0%, #ed2b88 100%);
}

section.guides .carousel .carousel-inner {
    position: relative;
    width: 100%;
    white-space: nowrap;
    transition: all .2s;
}

section.guides .carousel .carousel-inner .carousel-item {
    background: linear-gradient(135deg, #6d50a2 0%, #ed2b88 100%);
    transition: transform .6s ease-in-out;
    backface-visibility: hidden;
    position: relative;
    display: inline-block;
    padding: 32px 48px;
    color: #fff;
    width: 100%;
    white-space: normal;
    vertical-align: top;
}

section.guides .carousel .carousel-inner .carousel-item h2 {
    font-size: 48px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

section.guides .carousel .carousel-inner .carousel-item p {
    margin: 16px 0;
    font-size: 22px;
    line-height: 24px;
}

section.guides .carousel .carousel-inner .carousel-item a {
    padding: 10px 13px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: box-shadow .3s;
    float: right;
    margin-top: 16px;
}

section.guides .carousel .carousel-inner .carousel-item a:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

section.guides .carousel .carousel-inner .carousel-item a:active {
    box-shadow: none;
}

@media only screen and (max-width: 710px) {
    section.guides {
        margin-left: 0;
    }
    section.guides .group {
        display: block;
        margin: 32px 32px;
    }
    section.guides .group .group-summary {
        min-width: auto;
        max-width: 100%;
    }
    section.guides .group .group-details {
        display: none;
    }
    section.guides .carousel .carousel-inner .carousel-item {
        padding: 32px 32px;
    }
}